 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.AppOne{
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center; 
  padding-top: 6rem;
}

.userProfile{
 
  position: absolute;
  width: 200px;
  top: 15%;
  left: 11%; 
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.data{
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 1;
  color:black;
  /* display: block; */

}


body{
  font-family: Arial, Helvetica, sans-serif; 
  color: #fff;
  text-align: center;
  padding-top: 6rem;
  height: 700px;
  
}

 .grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  background: #C7B7AA;
  margin: 15px; 
  box-shadow: 0 0 26px 5px rgba(0.384, 0.384, 0.384, 0.384);
  height: 80%;
  width: 92%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.background{
  background: #c7bcb6;
  transform-origin: top;
  transform: skewX(-25deg);
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
}

.userProfile{
  color: white;
  position: absolute;
  width: 200px;
  top: 15%;
  left: 11%; 
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9;
}

 .data{
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 1;
  color:white;
  display: block;


} 

 .Photography{
  padding: 15px 8px 15px 8px;
  position: absolute;
  font-weight: bold;
  left:40%;
  margin-left: -3px;
  top: 100px;
  position: sticky;
  z-index: 1;
  overflow-x: hidden;
  background-color: #d1c9c2 ;
  
 }
 
