* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.servicePage {
  display: grid;
  width: 100%;
  height: 99vh;
  justify-content: center;
  /* height: 105vw; */
  margin-bottom: 70rem;
}

.accordion {
  margin-top: 0% !important;
}

.card {
  margin-top: 0% !important;
  background-color: #F9F7F6 !important;
  border-bottom: none !important;
}

.servis-taps a {
  color: #000 !important;

}

.Accordion-color {
  color: #000 !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 414px) {

  /* .accordion {
    height: 10vw !important;
  } */

}